<div class="center jumbotron">
  <h1>Welcome to the Twittie App</h1>

  <h2>
    This is my second <strong>Ruby on Rails</strong> project. It's a 
    Twitter-like app, where users can post short messages. If you wish to 
    learn more, please visit: <%= link_to "About page", about_path %>.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>