<footer class="footer">
  <small>
    The <a href="http://www.railstutorial.org/"> Ruby on Rails Tutorial </a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", new_contact_path %></li>
      <li><%= link_to "Curriculum Vitae", cv_path, target: "_blank" %></li>
    </ul>
  </nav>  
  </small>
</footer>